.pregunta1{
    background-color:deepskyblue 
}
.pregunta2{
    background-color: brown;
}
.pregunta3y4{
    background-color:blueviolet;
}
.pregunta6{
    background-color: crimson;
}
.pregunta7{
    background-color: darkgreen;
}
.pregunta8{
    background-color: coral;
}